
@media only screen and (max-width:400px)
{
    .login-form{
        width:100px;
    }
}
/* @media only screen and (max-width:500px)
{
    body{
        font-size:5px;
    }
    .mobile-icon{
        display: inline-block;
     }
     .navi{
         display:none;
     }
} */
